body {
    padding-top:80px; 
    color: #5a5a5a;
}
.row{
    margin:0;
}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,
.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,
.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
    padding:0;
}

 /* 顶部导航 */
.navbar{
    min-height:80px;   
    border-bottom-width:0px;   
}
.navbar-brand {
    height: 80px;    
}
.navbar .navbar-brand img{
	  max-width:200px;/*此处可修改成logo的宽度*/
	  margin-top:-15px;

}
.navbar-nav>li{
/*background-color:#ddd;  *//*设置下拉菜单背景颜色*/
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height:60px;  
}

.navbar-toggle {
    margin-top: 20px;
    margin-bottom: 20px;    
}

.navbar .navbar-nav>li>a:link,.navbar .navbar-nav>li>a:visited{
	  font-size:1rem;
	  color:#333333;
}
.navbar .navbar-nav>li>a:hover,.navbar .navbar-nav>li>a:active{
	  color:#ea0000;
}
.navbar-default{
	  background-color:#FFF;
}
/*
.navbar-text{
position: absolute;
margin:0;
font-size:0.875rem;
top:30px; 
right: 0;
} */                   s

/* 轮播广告 */

.carousel {
    height:100%;
    margin-top:0; 
}

.carousel .item {
    height:100%;
    background-color: #000;
}

.carousel .item img {
    width: 100%;
}

.carousel-caption {
    z-index: 10;
}

.carousel-caption p {
    
    font-size: 20px;
    line-height: 1.8;
}


/* 关于我们 */

.about-us{
   text-align:center;
}
.about-us h2{
    font-size:1.875rem;
    margin-top:6.25rem;
    margin-bottom:0;
}
.about-us p{
    font-size:1.125rem;     
    text-align:left;
    color:#333333;
    margin:3.125rem 0;
}
.about-us button{
    font-size:1.125rem; 
    padding:0.1875rem 3rem;
    color:#ea0000;
    border-color:#ea0000;
    margin-bottom:6.25rem;
    
}
	
/* 我们的产品 */
	
.our-products{
	  text-align: center;
    background-image: url(../images/product-img.jpg);
    height:100%;
    width:100%;
} 
.our-products-div  { 
    padding:0 1rem;
    margin:3.125rem 0;        
}    
.our-products-div  img{ 
    margin:1rem 0;       
}              
.our-products h2{
    font-size:1.875rem;
    margin:3.125rem 0;
    color:#fff;
}
.our-products p{
    font-size:1.75rem;
    color:#fff;
}
.our-products .our-products-buttom{
     margin:3.125rem 0;
}
.our-products button{
      font-size:1.125rem; 
	    padding:0.1875rem 3rem;
	    background-color:transparent;
	    color:#fff; 
}
	
/* 成功案例 */
.case-works{
	  text-align: center;
    height:100%;
    width:100%;
    padding:0;
    margin-top:2.75rem;

}
.case-works h2{
    font-size:1.875rem;  
    margin:3.5rem 0;  
}
.case-works .case-works-img{
    background-image: url(../images/case-works-img.jpg);    
}
.case-works .case-works-container{
    padding:2.375rem 0;    
}

.case-works img{
    height:auto;  /*高度可以自己按比例确定*/
	  width:15rem;  
    margin-top:2.625rem;
} 
.case-works button{
    font-size:1.125rem; 
    padding:0.1875rem 3rem;
    margin:3.75rem auto;
    color:#ea0000;
    border-color:#ea0000;

}
     
/* 精英团队 */

.elite-team{
	text-align: center;

}
/*.elite-team .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}  */
.elite-team h2{
  font-size:1.875rem;  
  margin:2.5rem 0;
 }
.elite-team-p{
  font-size:1.125rem;
  border:5px solid #fff;   
  background-color:#f2f2f2;
  margin:1.25rem 0;
  margin-bottom:10rem;
  padding:1.875rem 1.875rem 5rem 1.875rem;
 }
.elite-team-img{
  position: absolute; left: 0;  right: 0;    
  margin:0 auto;
 }
.elite-team-img img{
  width:50%;
  height:auto;   }      
 


/* 底部版权 */
.copyright{
    background-color:#666666;
    padding:0;
}
.copyright-top{
   margin-top:1.25rem;
}
.copyright h5{	
  font-size:1.125rem;
   color:#fff;
}
.copyright p{	
    color:#fff;
    font-size:0.875rem;
}

.copyright img{
	  max-width:100%;
	  float:right;
    border:0.125rem solid #fff;

}
.copyright .copyright-buttom-text p{
    font-size:0.75rem;
	  text-align:center;

}
.copyright hr{
	  width:83.333%;
}

/*客户案例-头部*/
.case-head h2{
  text-align:center;
  margin-top:5rem;
  margin-bottom:1.25rem;
  font-size:2.25rem;
}
.case-head p{
    color:#000;
    font-size:1.125rem;
    line-height:1.125rem;
    text-align:center;
}
/*客户案例-内容部分*/
.case-container{
   text-align: center;
   padding:0;
   margin:6.25rem 0;  
}

.case-container p{
   font-size:1rem;  
}

.case-container img{
    height:auto;
	  width:23vw;
}
.case-container .case-container-text{ 
    width:23vw;
    margin:0 auto;
}
.case-container .case-container-text-inside{
    background-color:#f2f2f2;
    padding:10px;     
    vertical-align:middle; 
    text-align:left;
    color:#333333;
}


/*关于麦果-头部部分*/

.about-top{
    text-align:center;
}
.about-top img{
    width:100%;
}
/*关于麦果-企业风采部分*/
.corporate-style{
	  text-align: center;
    margin-bottom:3.125rem;
}
.corporate-style h3{
    text-align:center;
    font-size:1.875rem;
    margin:3.125rem 0;
}
.corporate-style img{
    margin-bottom:1.875rem;
	  width:15rem;
  	height:auto;
}
/*关于麦果-精英团队部分*/
.about-elite-team{
    text-align:center;
    /*padding:0;  */
}
.about-elite-team h3{
    font-size:1.875rem;
    margin:3.125rem 0;
    text-align:center;   

}
.about-elite-team p{
    font-size:1.125rem;     
    color:#333333;
    /*text-align:left;*/
    margin-bottom:1.25rem;  
}
.about-elite-team-img img{
    margin:5rem 0;
}

/*产品中心-我们的产品部分*/
.products-head{
	  text-align: center;
    background-image: url(../images/product-img.jpg);
    height:100%;
    width:100%;
    padding-bottom:2rem;
} 
.products-head-div  { 
    padding:0 1rem;
    margin:3.125rem 0;     
}    
.products-head-div  img{
    margin:1rem 0;       
}              
.products-head h2{
    font-size:1.875rem;
    margin:3.125rem 0;
    color:#fff;
}
.products-head p{
    font-size:1.75rem;
    color:#fff;
}
/*产品中心-内容部分*/
.products-container{
	  text-align: center;
    padding:0;
    margin-bottom:6.25rem;
}
.products-container h3{
	  font-size:1.875rem;
    margin:6.25rem 0;
}
.products-container .products-container-left{	
    height:600px;
  	background-color:#ddd;  
  	padding:10%;    
}
.products-container .products-container-left h4{	
    font-size:1.875rem;
    margin-top:3.25rem;
    margin-bottom:2.5rem;    
}
.products-container .products-container-left p{	
    font-size:1.125rem;    
}
.products-container .products-container-left img{

  	width:12.5rem;
  	height:12.5rem; 
}
.products-container .products-container-right{
    overflow: hidden; 
  	height:600px;
}

/*联系-头部图片部分*/
.contact-top-img img{
  width:100%;
  height:auto;   
}
/*联系-内容部分*/
.contact-container {
   margin-top:4.625rem;
	   
}
.contact-container h2{
   font-size:1.875rem;
   margin:2.375rem 0;
	   
}
.contact-container p{
   font-size:1.125rem;
   margin-bottom:1.875rem;
	   
}

.contact-container-right{
   margin:1.875rem auto;
  	   
}
.contact-container-right p{
   padding:2rem 2.1875rem;  /*2   4.375*/
   font-size:1rem;
   margin:0;
	   
}
.contact-container-right img{
  margin:auto auto;
}
.contact-container button{
  font-size:1.125rem;
	border-radius:0;
}
/*联系-底部图片部分*/ 
.contact-bottom-img img{
  margin-top:9.375rem;    
  width:100%;
  height:auto;   
}

/*联系-底部版权部分*/ 
.contact-copyright .contact-copyright-buttom-text p{
  font-size:0.75rem;
	text-align:center;

}
.contact-copyright-bottom{
  margin:5.25rem auto;
} 

	
        /* 响应式布局 */

        @media (max-width: 767px) { /*手机*/
            /*适应手机的导航条*/
            html{
                font-size:12px;
            }
            body {
                padding-top:50px; 
            }
            /*导航条*/
            .navbar{
                min-height:50px;   /*80*/     
            }
            .navbar-brand {
                height: 50px;    
            }
            .navbar .navbar-brand img{
            	  max-height:50px;/*此处可修改成logo的高度*/
            	  margin-top:-15px;
            
            }
            .navbar-nav>li>a {
                text-align:center;
                padding-top: 10px;
                padding-bottom: 10px;
                line-height:30px;  
            }           
            .navbar-toggle {
                margin-top: 8px;
                margin-bottom: 8px;    
            }
            /*成功案例*/
           	.case-works img{
                width:20rem;  
            } 
            /*我们的产品*/
            .our-products-div  { 
                margin:1.25rem 0;        
            } 
            /*精英团队*/
            .elite-team{
                margin-bottom:6.25rem;
            }                  
            .elite-team-img img{
                width:50%;
                height:auto;   
            } 
            .elite-team-p{
                padding:1.875rem 1.875rem 2.75rem 1.875rem;
                margin-bottom:13rem;             
            }
            /*底部版权*/
            .copyright img{
            	  float:left;
            } 
            
            /*联系我们  界面*/
             .connect-bottom-img img{
                margin-top:3.125rem;    
            }
             .contact-container-right p{
                padding:2rem 4.375rem;  
            }
            /*客户案例  部分*/
            .case-container img{
              	  width:47vw;  
            }
            .case-container .case-container-text{ 
                  width:47vw;
                  margin:0 auto;   
            }
            /*产品中心  部分*/
            .products-head p{
                font-size:1.125rem;
            }
            .products-container .products-container-left{  	
                height:400px;
              	padding:10%;    
            } 
            .products-head-div  img{
                height:70%;
                width:70%;     
            }
            .products-head-div  { 
                margin-top:1rem;
                margin-bottom:2rem;        
            } 
            .products-container .products-container-left img{
              	width:7.25rem;
              	height:7.25rem;
            }
            .products-container .products-container-left h4{	
                font-size:1.875rem;   */
                margin-top:2.5rem;
                margin-bottom:1rem;    
            }
            .products-container .products-container-left{	
                height:300px;
              	background-color:#ddd;  
              	padding:10%;
                   
            }     
           
            .products-container .products-container-right{
                overflow: hidden; 
                width:100vw;
              	height:300px;
            }
            .products-container .products-container-right img{	
                position:absolute;
                height:100%;
                left:0rem;     
              }                 
            
                              
              
        }
        @media (min-width: 768px) and (max-width: 991px){ /*平板*/
              html {
                  font-size:12px;
              }
            	.case-works img{
              	    width:30rem;  
             	} 
              /*联系我们  部分*/
              .connect-bottom-img img{
                    margin-top:6.25rem;    
            	}
              .contact-container-right p{
                   padding:2rem 4.375rem;  
              }
              /*客户案例  部分*/
              .case-container img{
              	  width:47vw;
              } 
              .case-container .case-container-text{ 
                 /* padding:0 1.5vw;      */
                  width:47vw; 
                  margin:0 auto;
              }
              /*产品中心  部分*/
              .products-container .products-container-left{	 
                	padding:15%;    
              }
              .products-head-div  { 
                margin-top:1rem;
                margin-bottom:2rem;        
               }
               .products-container .products-container-left{	
                height:400px; 
              	padding:8%;    
               }
               .products-container .products-container-right{	
                overflow: hidden; 
              	height:400px; 
               }
               .products-container .products-container-right img{	
                position:absolute;
                left:-25rem;             
               }
              
        }
        @media (min-width: 992px) {    /*桌面*/
              html {
                 font-size:16px;
              }
              
        }