body {
    padding-top:80px; 
    color: #5a5a5a;
}
.row{
    margin:0;
}
.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,
.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,
.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,
.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{
    padding:0;
}

 /* 顶部导航 */
.navbar{
    min-height:80px;   
    border-bottom-width:0px;   
}
.navbar-brand {
    height: 80px;    
}
.navbar .navbar-brand img{
	  max-width:200px;/*此处可修改成logo的宽度*/
	  margin-top:-15px;

}
.navbar-nav>li{
/*background-color:#ddd;  *//*设置下拉菜单背景颜色*/
}
.navbar-nav>li>a {
/*text-align:center;    */
padding-top: 10px;
padding-bottom: 10px;
line-height:60px;  
}

.navbar-toggle {
margin-top: 20px;
margin-bottom: 20px;    
}

.navbar .navbar-nav>li>a:link,.navbar .navbar-nav>li>a:visited{
	  font-size:1rem;
	  color:#333333;
}
.navbar .navbar-nav>li>a:hover,.navbar .navbar-nav>li>a:active{
	  color:#ea0000;
}
.navbar-default{
	  background-color:#FFF;
}

/* 轮播广告 */

.carousel {
    height:100%;
   /* margin-bottom: 100px;    */
   margin-top:0; 
}

.carousel .item {
    height:100%;
    background-color: #000;
}

 .carousel .item img {
    width: 100%;
}

.carousel-caption {
    z-index: 10;
}

.carousel-caption p {
    
    font-size: 20px;
    line-height: 1.8;
}

  /* 关于我们 */

  .about-us{
	   text-align:center;
      margin-bottom:6.25rem;
	}
  .about-us h2{
	    font-size:1.875rem;
      margin-top:6.25rem;
	}
	.about-us p{
      font-size:1.125rem;     
	    text-align:left;
      color:#333333;
	    margin:3.375rem 0;
	}
	.about-us button{
      font-size:1.125rem; 
	    padding:0.1875rem 3rem;
	    color:#ea0000;
	    border-color:#ea0000;
	    
	}
	
	/* 我们的产品 */
	
	.our-products{
  	  text-align: center;
	    background-image: url(../images/product-img.jpg);
	    height:100%;
	    width:100%;
	   

 	} 
.our-products-div  { 
	    margin:3.125rem 0;        
 	   }                 
	.our-products h2{
      font-size:1.875rem;
	    margin:3.125rem 0;
	    color:#fff;
	}
	.our-products p{
      font-size:1.75rem;
	    color:#fff;
	}
	.our-products img{
  	    height:8.125rem;   
  	    width:8130px    /*?*/
        margi130px:1.8/*?*/75rem;
 	}
	.our-products .our-products-buttom{
       margin:3.125rem 0;
  }
	.our-products button{
      font-size:1.125rem; 
	    padding:0.1875rem 3rem;
	    background-color:transparent;
	    color:#fff;
	    
	}
	
	/* 成功案例 */
	.case-works{
  	  text-align: center;
	    height:100%;
	    width:100%;
      padding:0;
	    margin-top:2.75rem;

 	}
  .case-works h2{
      font-size:1.875rem;  
	    margin:3.5rem 0;  
	}
	.case-works .case-works-img{
	    background-image: url(../images/case-works-img.jpg);  
     
	    
	}
  .case-works .case-works-container{
	  padding:2.375rem 0;  
     
	    
	}

	.case-works img{
  	   /* height:18.75rem;
  	    width:27.5rem;   /**/
      height:auto;  /*高度可以自己按比例确定*/
  	  width:15rem;  
	      margin-top:2.625rem;
 	} 

  
	.case-works button{
	    font-size:1.125rem; 
	    padding:0.1875rem 3rem;
      margin:3.75rem auto;
	    color:#ea0000;
	    border-color:#ea0000;

	}
       
	/* 精英团队 */
 
	.elite-team{
  	text-align: center;

 	}
  .elite-team h2{
      font-size:1.875rem;  
   margin:2.5rem 0;
   }
  .elite-team-p{
    font-size:1.125rem;
    border:5px solid #fff;   
    background-color:#f2f2f2;
    margin:1.25rem 0;
    margin-bottom:10rem;
    padding:1.875rem 1.875rem 5rem 1.875rem;
   }
   .elite-team-img{
   
    position: absolute; left: 0;  right: 0;    
    margin:0 auto;
   }
  .elite-team-img img{
    width:50%;
    height:auto;   }      
   

	
	/* 底部版权 */
	.copyright{
	    background-color:#666666;
	    width:100%;
	    height:100%;
	}
  .copyright h5{	
    font-size:1.125rem;
	   color:#fff;
	}
	.copyright p{	
	    color:#fff;
	    font-size:0.875rem;
	}

	.copyright img{
  	  width:22.875rem;
  	  height:12.5rem;   
      border:0.125rem solid #fff;
	
 	}
	.copyright .copyright-buttom-text p{
      font-size:0.75rem;
  	  text-align:center;
	
 	}
	.copyright hr{
		  width:68%;
	}
	
	/*客户案例-头部*/
	.case-head h2{
	    color:#000;
	    text-align:center;
	    margin:20px 0;
	}
	.case-head p{
	    color:#000;
	    text-align:center;
	    line-height:10px;
	}
	/*客户案例-内容部分*/
	.case-container{
	    text-align: left;
	}
	.case-container img{
	    text-align: left;
	    height:150px;
  	    width:230px;
	}
	.case-container .case-container-text{
	    background-color:#ddd;
	}
	.case-container .case-container-text-inside{
	    padding:10px;
	}
	
	/*关于麦果-头部部分*/
	
	.about-top{
	    text-align:center;
	}
	.about-top img{
	    width:100%;
	}
	/*关于麦果-企业风采部分*/
	.corporate-style{
  	    text-align: center;
	    margin-top:30px;
 	}
	.corporate-style img{
  	    width:200px;
		height:150px;
		margin-top:20px;
 	}
	
	/*产品中心-产品服务部分*/
	.products-container{
  	    text-align: center;
	    margin-top:30px;
 	}
	.products-container .products-container-left{
  	    width:50%;
		height:380px;
		background-color:#ddd;
		padding:10%;
 	}
	.products-container .products-container-left img{
  	    width:80px;
		height:80px;
		background-color:#222;
 	}
	.products-container .products-container-right{
  	    width:50%;
		height:380px;
		background-color:#222;
 	}
	.products-container .products-container-right img{
  	    width:100%;
		height:100%;
 	}
	
	/*联系-联系我们部分*/
	.contact-container .contact-container-right{
		text-align: center;
  	   
 	}
	.contact-container img{
		height:180px;
  	width:180px;
	}
	.contact-container button{
		border-radius:0;
	}
	
        /* 响应式布局 */

        @media (max-width: 767px) { /*手机*/
            /*适应手机的导航条*/
             html{
                  font-size:12px;
             }
             body {
                  padding-top:50px; 
              }
              .navbar{
                  min-height:50px;   /*80*/     
              }
              .navbar-brand {
              height: 50px;    
              }
              .navbar .navbar-brand img{
              	  max-height:50px;/*此处可修改成logo的高度*/
              	  margin-top:-15px;
              
              }
             
              .navbar-nav>li>a {
              text-align:center;
              padding-top: 10px;
              padding-bottom: 10px;
              line-height:30px;  
              }
              
              .navbar-toggle {
              margin-top: 8px;
              margin-bottom: 8px;    
              }
            
             /*轮播图设置*/
            .carousel {
                height: 300px;
              
            }

            .carousel .item {
                height: 300px;
            }

            .carousel img {
                min-height: 300px;
            }

            .carousel-caption p {
                font-size: 16px;
                line-height: 1.4;
            }

            .feature-heading {
                font-size: 34px;
            }

            .feature-heading .text-muted {
                font-size: 22px;
            }
               
            	.case-works img{
              	    width:20rem;  
             	} 
              .our-products-div  { 
              	    margin:1.25rem 0;        
               	   }                 
                             
              
            .elite-team-img img{
              width:80%;
              height:auto;   } 
            .elite-team-p{
              padding:1.875rem 1.875rem 2.75rem 1.875rem;
              margin-bottom:13rem;
              
             }
              .copyright img{
                 	  width:18.5625rem;
  	                height:10.125rem;
 	            }
                  
              
        }
        @media (min-width: 768px){ /*平板*/
             html {
                   font-size:12px;
              }
             	.copyright img{
                 	  width:22.875rem;
  	                height:12.5rem;
 	            }
            	.case-works img{
              	    width:30rem;  
             	} 
               
              
        }
        @media (min-width: 992px) {    /*桌面*/
              html {
                 font-size:16px;
              }
              
            	.case-works img{
              	    width:15rem;  
             	}         
              
            
           
        }